<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageQueueConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${TCP_CHANNEL}" />
    </bean>

    <bean id="messageQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${QUEUE_NAME}"/>
    </bean>

    <bean id="notificationJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="messageQueueConnectionFactory"/>
        <property name="defaultDestination" ref="messageQueueDestination"/>
    </bean>

    <bean id="notificationsMessageListenerContainer"
          class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="messageQueueConnectionFactory"/>
        <property name="messageListener" ref="jmsMessageListener"/>
        <property name="destination" ref="messageQueueDestination"/>
        <property name="concurrency" value="1-2"/>
        <property name="sessionTransacted" value="true"/>
        <property name="autoStartup" value="true" />
    </bean>

    <bean id="oxmMessageConverter" class="org.springframework.jms.support.converter.MarshallingMessageConverter">
        <property name="marshaller" ref="notificationMarshaller"/>
        <property name="unmarshaller" ref="notificationMarshaller"/>
    </bean>

    <bean id="notificationMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>com.library.domain.NotificationRequest</value>
            </list>
        </property>
    </bean>

</beans>
